*{
    margin: 0;
    padding: 0;
    font-family: Arial ;
}

::-webkit-scrollbar {
    display: none;
}

/*index*/
header{
    .divContainer__a{
        width: 100%;
        height: 120px;
        background-color: #fff;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .divContainer__a__redes{
            background-color: #fff;
            height: 40px;

            img{
                width: 20px;
                margin: 10px;
            }
        }

        
        
        .divContainer__a__logo{
            background-color: #fff;
            color:   #456134;
            height: 40px;

            img{
                width:50px;
                align-content: center;
            }
        }
        .divContainer__a__login{
            background-color: #fff;
            height: 40px;

            img{
                width: 25px;
                margin: 10px;
            }
        }
    }
}

nav{
    .m{
        padding: 0;
        margin: 0;

        .colornav{
            background-color: rgb(60, 56, 56);

            .letra{
                width: 500px;
                height: 100%;
                justify-content: space-around;
                display: flex;
                align-items: center;
                margin: auto;

                #mcolor{
                    color:white;
                }
                #mcolor:hover{
                    color: #456134;
                }
            }
        }
    }
}

.carousel{
    .tamanioCarousel{
        height: 90vh;
        margin-top: 0;
    }
}

main{
    .sectionBeneficios{
        background-color: #fff;
        margin-top: 50px;
        margin-bottom: 50PX;
        margin-left: 15px;
        margin-right: 15px;

        .sectionBeneficios__ab__a{
            background-color: #fff;
            margin-bottom: 10px;

            h2{
                font-weight: bold;
                margin-left: 20px;
            }
        }

        .sectionBeneficios__ab{
            width: 100%;
            height: 325px;
            background-color:#fff;
            display: flex;

            .sectionBeneficios__ab__b{
                background-color: #fff;
                display: flex;

                .Ben{
                    width: 50%;
                    
                    img{
                    width: 100%;
                    height: 240px;
                    margin-top: 40px;
                    margin-bottom: 30px;
                    }
                }

                

                .descripcion{
                    margin: 50px 20px ;
                    width: 50%;

                    p{
                        text-align: justify;
                    }
                }
            }
        }
        
    }
}

/*title general*/

/*footer*/
footer{

    .divFooter{
        background-color: #456134;
        width: 100%;
        height: 100%;
        display: flex;
        padding-top: 20px;
        align-items: center;
        flex-direction: column;
        background-image: linear-gradient(0, #5f7439 0, #526b37 25%, #456134 50%, #395731 75%, #2f4e2e 100%);
        
        .divFooter__redes{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            img{ 
                width: 20px;
                height: 20px;
            }

            p{
                font-weight: bold;
                color: black;
            }
        }

        .divFooter__copy{
            font-size: 15px;
            margin-top: 20px;
            
            
        }
    }
}

/*footer*/
.ssa{
    width: 100%;
    display: flex;
    align-self: flex-end;
    position: absolute;
    bottom: 0;
    
}

.divFooter{
    background-color: #456134;
    width: 100%;
    height: 100%;
    display: flex;
    padding-top: 20px;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(0, #5f7439 0, #526b37 25%, #456134 50%, #395731 75%, #2f4e2e 100%);

    .divFooter__redes{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        p{
            font-weight: bold;
            color: black;
        }

        img{ 
            width: 20px;
            height: 20px;
        }
    }

    .divFooter__logo{
        color:black;
        font-weight: bold;
    }

    .divFooter__copy{
        font-size: 15px;
        margin-top: 20px;
        
    }
    
}



@media (max-width:930px) {
    /*NAV GENERAL*/

    
    .colornav{
        margin: 20px 10px;
        background-color: #456134;
        border-radius: 15px;
        padding: 20px;
    }

    .k{
        margin-top: 15px;
    }

    .letra{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /*INDEX*/
    /*CAROUSEL*/
    .tamanioCarousel{
        height: 50vh;
    }
    /*BENEFICIOS*/
    .indexbene{
        margin-bottom: 50px;
        padding-right: 10px;

        .sectionBeneficios{
            height: 100%;
            display: flex;
            flex-direction: column;
    
            .sectionBeneficios__ab__a{
                height: 20%;
                display: flex;
                justify-content: center;
                h2{
                    font-size: 40px;
                }
            }
    
            .sectionBeneficios__ab{
                
                height: 600px;
                display: flex;
                flex-direction: column;
    
                .sectionBeneficios__ab__b{
                    width: 100%;
                    height: 50%;
                    display: flex;
                    flex-direction: row;
                    .descripcion{
                        width: 50%;
                        height: 50%;
                        p{
                            font-size: 12px;
                        }
                    }
                    .Ben{
                        width: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        img{
                            width: 100%;
                            height: 50%;
                        }
                    }

                }
                    
            }
        }

    }
    

}  
